* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; /* Base Font Size */
}

body {
  width: 100%;
  height: 100dvh;
  background-color: #111;
  color: #fff;
}

h1 {
  font-family: "Playwrite VN Guides", cursive;
}
